/* AsteroidScreen.css */
.asteroid-container {
    background-color: #1c1c1c;
    color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.asteroid-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #4caf50;
}

.search-pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search-pagination-container input,
.search-pagination-container select {
    padding: 8px;
    margin-left: 10px;
    border-radius: 4px;
    border: 1px solid #4caf50;
    background-color: #1c1c1c;
    color: #ffffff;
}

.table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

.table th,
.table td {
    border: 1px solid #4caf50;
    padding: 12px;
    text-align: left;
}

.table th {
    background-color: #333333;
    cursor: pointer;
}

.table th.sortable:hover {
    background-color: #4caf50;
}

.table td {
    background-color: #262626;
}

.btn {
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    padding: 8px 12px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.pagination {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.pagination li {
    margin: 0 5px;
}

.pagination .page-link {
    color: #ffffff;
    background-color: #4caf50;
    border: 1px solid #4caf50;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
}

.pagination .page-item.active .page-link {
    background-color: #1c1c1c;
    border-color: #4caf50;
}

.pagination .page-item.disabled .page-link {
    background-color: #444444;
    cursor: not-allowed;
}
