body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  /* height: 100vh; */
  /* margin: 0; */
}

/* .group {
  text-align: center;
} */

.checkbox-group {
  margin: 20px 0;
}

.checkbox-group label {
  margin-right: 20px;
}

.checkbox-group input {
  margin-right: 5px;
}

/* .btn {
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #ddd;
} */

.connection-ribbon {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffcc00; /* Yellow color for connecting and retrying */
  color: #000;
  text-align: center;
  padding: 8px;
  font-size: 14px;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.connection-ribbon.connected {
  background-color: #4CAF50; /* Green color for connected */
  color: #fff;
}




.label {
  color: white;
  font-family: Arial, sans-serif;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.5);
  padding: 2px;
  border-radius: 3px;
  pointer-events: none;
}
.country-label {
  background: none;
  border: none;
  font-size: 12px;
  color: black;
  /* font-weight: bold; */
}

.form-container {
  margin: 0 0 10px 10px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  /* display: block; */
  margin-bottom: 5px;
  /* font-weight: bold; */
  /* color: #555; */
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* .form-group input[type="number"] {
  -moz-appearance: textfield;
}

.form-group input[type="number"]::-webkit-outer-spin-button,
.form-group input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

.form-group input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.submit-btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #0056b3;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #007bff;
}
